cached-property==1.5.1
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
cryptography==2.8
defusedxml==0.6.0
dnspython==1.16.0
exchangelib==2.0.1
future==0.18.1
idna==2.8
isodate==0.6.0
lxml==4.6.2
ntlm-auth==1.4.0
pycparser==2.19
Pygments==2.4.2
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
requests-ntlm==1.1.0
six==1.12.0
tzlocal==2.0.0
urllib3==1.25.6
